 <section class="mh-blog" id="mh-blog">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h3>Featured Posts</h3>
                    </div>
                    <div class="col-sm-12 col-md-4">
                         <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <img src="assets/images/b-3.png" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog-single.html">A life without the daily traffic jams</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                        <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                    </ul>
                                </div>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                <a href="blog-single.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <img src="assets/images/b-2.png" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog-single.html">Proportion are what’s really needed</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                        <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                    </ul>
                                </div>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                <a href="blog-single.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.7s; animation-name: fadeInUp;">
                            <img src="assets/images/b-1.png" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="blog-single.html">Mounts of paper work to remember the way</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                        <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                    </ul>
                                </div>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                <a href="blog-single.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  